loki.source.journal "system" {
  labels = {
    job  = "systemd-journal",
    host = "{{ inventory_hostname }}",
  }
  forward_to = [loki.write.default.receiver]
}

loki.write "default" {
  endpoint {
    url = "{{ loki_push_scheme }}://{{ loki_push_host }}:{{ loki_push_port | int }}/loki/api/v1/push"
  }
}
