# templates/config.alloy.j2
loki.source.journal "system" {
  labels = {job = "systemd-journal"}
  forward_to = [loki.write.default.receiver]
}

loki.write "default" {
  endpoint {
    url = "http://{{ 'localhost' if inventory_hostname == 'ctrl-linux-01' else loki_host }}:3100/loki/api/v1/push"
  }
}
